# Cloud Storage (Backblaze B2)
B2_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com
B2_ACCESS_KEY_ID=00..............00003
B2_SECRET_ACCESS_KEY=K005.............Zlrg

# DATABASE: Configuration For Weather and Traffic data:
DB_USER = "ibrahim"
DB_PASSWORD = "ibrahim"

# Airflow :
username = "admin"
password = "admin"

# API Keys: For Weather and Traffic data
WEATHER_API= "The URL WITH Your API Key"
TRAFFIC_API= "The URL WITH Your API Key"