# MinIO Credetials
MINIO_ACCESS_KEY = "minio"
MINIO_SECRET_KEY = "00000000"

# DATABASE: Configuration For Weather and Traffic data:
DB_USER = "ibrahim"
DB_PASSWORD = "ibrahim"

# Airflow :
USERNAME = "admin"
PASSWORD = "admin"

# API Keys: For Weather and Traffic data
WEATHER_API= "The URL WITH Your API Key"
TRAFFIC_API= "The URL WITH Your API Key"