# Other File/Folder
.vscode/
Info.txt
*.docx
*.json
data-output
data/
LEARNING_LOG.md
COACH_CONTEXT.md
test.py


# Secrets & Setting Files
.env
airflow-entrypoint.sh
run.sh

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Jupyter Notebooks checkpoints
notebooks/*.ipynb
.ipynb_checkpoints/
*.ipynb

# Docker-related files
docker-compose.override.yml
*.log
*.bak
*.swp

# Ignore the jars and driver folder     
./jars/*.jar
*.jar
jars/


# Airflow files
airflow.db
airflow-logs/

# MinIO / S3 data 
minio_data/

# Postgres data 
postgres_data/


.env 
.env 
