.vscode/
.venv/
debug.py
traffic
test.py
validate_data.py
save_to_db.py
hourly_ingest.yml


TRAFFIC FLOW/


# Secrets & Environment
.env
.env.local

# Python
*.pyc
*.pyo
__pycache__/

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/
notebooks/*.ipynb
